.inline-box {
display: block;
background-color: rgb(160, 45, 68);
color:white;
width: 80px;
text-align: center;
}
.block-box{
display: block;
background-color: rgb(201, 224, 224);
border: 3px solid rgb(201, 224, 224);
}
.absolute-box{
display: block;
position: fixed;
text-align: left;
background-color: blue;
color: white;
}

.relative-box{

position: relative;
background-color: blueviolet;
color:white;
border: 20px solid rgb(255, 255, 255);

}

.float-left{

float:left;
background-color: rgb(211, 175, 149);
}
.float-right{float: right;
background-color: rgb(181, 207, 144);
}